-f https://download.pytorch.org/whl/torch_stable.html
numpy==1.21.0
torch==2.0.0
torchvision==0.15.0
transformers==4.2.1
tqdm==4.49.0
scikit-learn==0.24.1
datasets==1.6.0
openai==0.6.3
scipy==1.10.1
pandas==1.4.4
